Django==2.2.24
django-crispy-forms==1.7.2
django-settings-export==1.2.1
docopt==0.6.2
idna==2.6
jsonschema==2.6.0
pytz==2018.5
PyYAML==3.13
requests==2.18.4
six==1.11.0
texttable==0.9.1
urllib3==1.22
websocket-client==0.53.0

