{% extends 'honeypot/base.html' %}
{% block content %}
<h2 align=center>Données Personnelles</h2>
Lorem ipsum dolor sit amet, consectetur
 adipiscing elit. Donec blandit arcu elit, sit
  amet venenatis magna pretium quis. Interdum et
   malesuada fames ac ante ipsum primis in faucibus.
    Integer fermentum lacus vitae tristique commodo.
     Curabitur nisl quam, luctus in ligula sed,
     varius posuere quam. Nullam vitae maximus
      ante. Maecenas ac ultricies mi, vel eleifend
      leo. Aenean laoreet dignissim lobortis. Phasellus
       ut nunc non arcu scelerisque accumsan ac vitae erat.
Pellentesque aliquam purus id consectetur laoreet.
 Sed vitae magna sapien. Pellentesque porta feugiat
 enim, at bibendum tortor sollicitudin nec.

{% endblock %}
